/*------------------------------------------------------------------------------
 Interim login dialog
------------------------------------------------------------------------------*/

#mn-auth-check-wrap.hidden {
	display: none;
}

#mn-auth-check-wrap #mn-auth-check-bg {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: #000;
	opacity: 0.7;
	filter: alpha(opacity=70);
	z-index: 1000010; /* needs to appear above .notification-dialog */
}

#mn-auth-check-wrap #mn-auth-check {
	position: fixed;
	left: 50%;
	overflow: hidden;
	top: 40px;
	bottom: 20px;
	max-height: 415px;
	width: 380px;
	margin: 0 0 0 -190px;
	padding: 30px 0 0;
	background-color: #f1f1f1;
	z-index: 1000011; /* needs to appear above #mn-auth-check-bg */
	-webkit-box-shadow: 0 3px 6px rgba( 0, 0, 0, 0.3 );
	box-shadow: 0 3px 6px rgba( 0, 0, 0, 0.3 );
}

@media screen and ( max-width: 380px ) {
	#mn-auth-check-wrap #mn-auth-check {
		left: 0;
		width: 100%;
		margin: 0;
	}
}

#mn-auth-check-wrap.fallback #mn-auth-check {
	max-height: 180px;
	overflow: auto;
}

#mn-auth-check-wrap #mn-auth-check-form {
	height: 100%;
	position: relative;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
}

#mn-auth-check-form.loading:before {
	content: "";
	display: block;
	width: 20px;
	height: 20px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -10px 0 0 -10px;
	background: url(../images/spinner.gif) no-repeat center;
	-webkit-background-size: 20px 20px;
	background-size: 20px 20px;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 120dpi) {

	#mn-auth-check-form.loading:before {
		background-image: url(../images/spinner-2x.gif);
	}

}

#mn-auth-check-wrap #mn-auth-check-form iframe {
	height: 98%; /* Scrollbar fix */
	width: 100%;
}

#mn-auth-check-wrap .mn-auth-check-close {
	position: absolute;
	top: 5px;
	right: 5px;
	height: 22px;
	width: 22px;
	color: #72777c;
}

#mn-auth-check-wrap .mn-auth-check-close:before {
	content: "\f158";
	font: normal 20px/22px dashicons;
	speak: none;
	-webkit-font-smoothing: antialiased !important;
	-moz-osx-font-smoothing: grayscale;
}

#mn-auth-check-wrap .mn-auth-check-close:hover,
#mn-auth-check-wrap .mn-auth-check-close:focus {
	color: #21b16e;
}

#mn-auth-check-wrap .mn-auth-fallback-expired {
	outline: 0;
}

#mn-auth-check-wrap .mn-auth-fallback {
	font-size: 14px;
	line-height: 21px;
	padding: 0 25px;
	display: none;
}

#mn-auth-check-wrap.fallback .mn-auth-fallback,
#mn-auth-check-wrap.fallback .mn-auth-check-close {
	display: block;
}
