/*
 * Button mixin- creates 3d-ish button effect with correct
 * highlights/shadows, based on a base color.
 */
body {
  background: #f1f1f1;
}

/* Links */
a {
  color: #21b16e;
}

a:hover, a:active, a:focus {
  color: #0096dd;
}

#media-upload a.del-link:hover,
div.dashboard-widget-submit input:hover,
.subsubsub a:hover,
.subsubsub a.current:hover {
  color: #0096dd;
}

/* Forms */
input[type=checkbox]:checked:before {
  color: #523f6d;
}

input[type=radio]:checked:before {
  background: #523f6d;
}

.mn-core-ui input[type="reset"]:hover,
.mn-core-ui input[type="reset"]:active {
  color: #0096dd;
}

/* Core UI */
.mn-core-ui .button-primary {
  background: #a3b745;
  border-color: #829237 #727f30 #727f30;
  color: #fff;
  -webkit-box-shadow: 0 1px 0 #727f30;
  box-shadow: 0 1px 0 #727f30;
  text-shadow: 0 -1px 1px #727f30, 1px 0 1px #727f30, 0 1px 1px #727f30, -1px 0 1px #727f30;
}

.mn-core-ui .button-primary:hover, .mn-core-ui .button-primary:focus {
  background: #a9bd4f;
  border-color: #727f30;
  color: #fff;
  -webkit-box-shadow: 0 1px 0 #727f30;
  box-shadow: 0 1px 0 #727f30;
}

.mn-core-ui .button-primary:focus {
  -webkit-box-shadow: inset 0 1px 0 #829237, 0 0 2px 1px #33b3db;
  box-shadow: inset 0 1px 0 #829237, 0 0 2px 1px #33b3db;
}

.mn-core-ui .button-primary:active {
  background: #829237;
  border-color: #727f30;
  -webkit-box-shadow: inset 0 2px 0 #727f30;
  box-shadow: inset 0 2px 0 #727f30;
}

.mn-core-ui .button-primary[disabled], .mn-core-ui .button-primary:disabled, .mn-core-ui .button-primary.button-primary-disabled, .mn-core-ui .button-primary.disabled {
  color: #cfd1c7 !important;
  background: #89993a !important;
  border-color: #727f30 !important;
  text-shadow: none !important;
}

.mn-core-ui .button-primary.button-hero {
  -webkit-box-shadow: 0 2px 0 #727f30 !important;
  box-shadow: 0 2px 0 #727f30 !important;
}

.mn-core-ui .button-primary.button-hero:active {
  -webkit-box-shadow: inset 0 3px 0 #727f30 !important;
  box-shadow: inset 0 3px 0 #727f30 !important;
}

.mn-core-ui .mn-ui-primary {
  color: #fff;
  background-color: #523f6d;
}

.mn-core-ui .mn-ui-text-primary {
  color: #523f6d;
}

.mn-core-ui .mn-ui-highlight {
  color: #fff;
  background-color: #a3b745;
}

.mn-core-ui .mn-ui-text-highlight {
  color: #a3b745;
}

.mn-core-ui .mn-ui-notification {
  color: #fff;
  background-color: #d46f15;
}

.mn-core-ui .mn-ui-text-notification {
  color: #d46f15;
}

.mn-core-ui .mn-ui-text-icon {
  color: #ece6f6;
}

/* List tables */
.wrap .add-new-h2:hover,
.wrap .page-title-action:hover,
.tablenav .tablenav-pages a:hover,
.tablenav .tablenav-pages a:focus {
  color: #fff;
  background-color: #523f6d;
}

.view-switch a.current:before {
  color: #523f6d;
}

.view-switch a:hover:before {
  color: #d46f15;
}

/* Admin Menu */
#adminmenuback,
#adminmenuwrap,
#adminmenu {
  background: #523f6d;
}

#adminmenu a {
  color: #fff;
}

#adminmenu div.mn-menu-image:before {
  color: #ece6f6;
}

#adminmenu a:hover,
#adminmenu li.menu-top:hover,
#adminmenu li.opensub > a.menu-top,
#adminmenu li > a.menu-top:focus {
  color: #fff;
  background-color: #a3b745;
}

#adminmenu li.menu-top:hover div.mn-menu-image:before,
#adminmenu li.opensub > a.menu-top div.mn-menu-image:before {
  color: #fff;
}

/* Active tabs use a bottom border color that matches the page background color. */
.about-wrap h2 .nav-tab-active,
.nav-tab-active,
.nav-tab-active:hover {
  background-color: #f1f1f1;
  border-bottom-color: #f1f1f1;
}

/* Admin Menu: submenu */
#adminmenu .mn-submenu,
#adminmenu .mn-has-current-submenu .mn-submenu,
#adminmenu .mn-has-current-submenu.opensub .mn-submenu,
.folded #adminmenu .mn-has-current-submenu .mn-submenu,
#adminmenu a.mn-has-current-submenu:focus + .mn-submenu {
  background: #413256;
}

#adminmenu li.mn-has-submenu.mn-not-current-submenu.opensub:hover:after {
  border-right-color: #413256;
}

#adminmenu .mn-submenu .mn-submenu-head {
  color: #cbc5d3;
}

#adminmenu .mn-submenu a,
#adminmenu .mn-has-current-submenu .mn-submenu a,
.folded #adminmenu .mn-has-current-submenu .mn-submenu a,
#adminmenu a.mn-has-current-submenu:focus + .mn-submenu a,
#adminmenu .mn-has-current-submenu.opensub .mn-submenu a {
  color: #cbc5d3;
}

#adminmenu .mn-submenu a:focus, #adminmenu .mn-submenu a:hover,
#adminmenu .mn-has-current-submenu .mn-submenu a:focus,
#adminmenu .mn-has-current-submenu .mn-submenu a:hover,
.folded #adminmenu .mn-has-current-submenu .mn-submenu a:focus,
.folded #adminmenu .mn-has-current-submenu .mn-submenu a:hover,
#adminmenu a.mn-has-current-submenu:focus + .mn-submenu a:focus,
#adminmenu a.mn-has-current-submenu:focus + .mn-submenu a:hover,
#adminmenu .mn-has-current-submenu.opensub .mn-submenu a:focus,
#adminmenu .mn-has-current-submenu.opensub .mn-submenu a:hover {
  color: #a3b745;
}

/* Admin Menu: current */
#adminmenu .mn-submenu li.current a,
#adminmenu a.mn-has-current-submenu:focus + .mn-submenu li.current a,
#adminmenu .mn-has-current-submenu.opensub .mn-submenu li.current a {
  color: #fff;
}

#adminmenu .mn-submenu li.current a:hover, #adminmenu .mn-submenu li.current a:focus,
#adminmenu a.mn-has-current-submenu:focus + .mn-submenu li.current a:hover,
#adminmenu a.mn-has-current-submenu:focus + .mn-submenu li.current a:focus,
#adminmenu .mn-has-current-submenu.opensub .mn-submenu li.current a:hover,
#adminmenu .mn-has-current-submenu.opensub .mn-submenu li.current a:focus {
  color: #a3b745;
}

ul#adminmenu a.mn-has-current-submenu:after,
ul#adminmenu > li.current > a.current:after {
  border-right-color: #f1f1f1;
}

#adminmenu li.current a.menu-top,
#adminmenu li.mn-has-current-submenu a.mn-has-current-submenu,
#adminmenu li.mn-has-current-submenu .mn-submenu .mn-submenu-head,
.folded #adminmenu li.current.menu-top {
  color: #fff;
  background: #a3b745;
}

#adminmenu li.mn-has-current-submenu div.mn-menu-image:before,
#adminmenu a.current:hover div.mn-menu-image:before,
#adminmenu li.mn-has-current-submenu a:focus div.mn-menu-image:before,
#adminmenu li.mn-has-current-submenu.opensub div.mn-menu-image:before,
#adminmenu li:hover div.mn-menu-image:before,
#adminmenu li a:focus div.mn-menu-image:before,
#adminmenu li.opensub div.mn-menu-image:before,
.ie8 #adminmenu li.opensub div.mn-menu-image:before {
  color: #fff;
}

/* Admin Menu: bubble */
#adminmenu .awaiting-mod,
#adminmenu .update-plugins {
  color: #fff;
  background: #d46f15;
}

#adminmenu li.current a .awaiting-mod,
#adminmenu li a.mn-has-current-submenu .update-plugins,
#adminmenu li:hover a .awaiting-mod,
#adminmenu li.menu-top:hover > a .update-plugins {
  color: #fff;
  background: #413256;
}

/* Admin Menu: collapse button */
#collapse-button {
  color: #ece6f6;
}

#collapse-button:hover,
#collapse-button:focus {
  color: #a3b745;
}

/* Admin Bar */
#mnadminbar {
  color: #fff;
  background: #523f6d;
}

#mnadminbar .ab-item,
#mnadminbar a.ab-item,
#mnadminbar > #mn-toolbar span.ab-label,
#mnadminbar > #mn-toolbar span.noticon {
  color: #fff;
}

#mnadminbar .ab-icon,
#mnadminbar .ab-icon:before,
#mnadminbar .ab-item:before,
#mnadminbar .ab-item:after {
  color: #ece6f6;
}

#mnadminbar:not(.mobile) .ab-top-menu > li:hover > .ab-item,
#mnadminbar:not(.mobile) .ab-top-menu > li > .ab-item:focus,
#mnadminbar.nojq .quicklinks .ab-top-menu > li > .ab-item:focus,
#mnadminbar.nojs .ab-top-menu > li.menupop:hover > .ab-item,
#mnadminbar .ab-top-menu > li.menupop.hover > .ab-item {
  color: #a3b745;
  background: #413256;
}

#mnadminbar:not(.mobile) > #mn-toolbar li:hover span.ab-label,
#mnadminbar:not(.mobile) > #mn-toolbar li.hover span.ab-label,
#mnadminbar:not(.mobile) > #mn-toolbar a:focus span.ab-label {
  color: #a3b745;
}

#mnadminbar:not(.mobile) li:hover .ab-icon:before,
#mnadminbar:not(.mobile) li:hover .ab-item:before,
#mnadminbar:not(.mobile) li:hover .ab-item:after,
#mnadminbar:not(.mobile) li:hover #adminbarsearch:before {
  color: #fff;
}

/* Admin Bar: submenu */
#mnadminbar .menupop .ab-sub-wrapper {
  background: #413256;
}

#mnadminbar .quicklinks .menupop ul.ab-sub-secondary,
#mnadminbar .quicklinks .menupop ul.ab-sub-secondary .ab-submenu {
  background: #64537c;
}

#mnadminbar .ab-submenu .ab-item,
#mnadminbar .quicklinks .menupop ul li a,
#mnadminbar .quicklinks .menupop.hover ul li a,
#mnadminbar.nojs .quicklinks .menupop:hover ul li a {
  color: #cbc5d3;
}

#mnadminbar .quicklinks li .blavatar,
#mnadminbar .menupop .menupop > .ab-item:before {
  color: #ece6f6;
}

#mnadminbar .quicklinks .menupop ul li a:hover,
#mnadminbar .quicklinks .menupop ul li a:focus,
#mnadminbar .quicklinks .menupop ul li a:hover strong,
#mnadminbar .quicklinks .menupop ul li a:focus strong,
#mnadminbar .quicklinks .ab-sub-wrapper .menupop.hover > a,
#mnadminbar .quicklinks .menupop.hover ul li a:hover,
#mnadminbar .quicklinks .menupop.hover ul li a:focus,
#mnadminbar.nojs .quicklinks .menupop:hover ul li a:hover,
#mnadminbar.nojs .quicklinks .menupop:hover ul li a:focus,
#mnadminbar li:hover .ab-icon:before,
#mnadminbar li:hover .ab-item:before,
#mnadminbar li a:focus .ab-icon:before,
#mnadminbar li .ab-item:focus:before,
#mnadminbar li .ab-item:focus .ab-icon:before,
#mnadminbar li.hover .ab-icon:before,
#mnadminbar li.hover .ab-item:before,
#mnadminbar li:hover #adminbarsearch:before,
#mnadminbar li #adminbarsearch.adminbar-focused:before {
  color: #a3b745;
}

#mnadminbar .quicklinks li a:hover .blavatar,
#mnadminbar .quicklinks li a:focus .blavatar,
#mnadminbar .quicklinks .ab-sub-wrapper .menupop.hover > a .blavatar,
#mnadminbar .menupop .menupop > .ab-item:hover:before,
#mnadminbar.mobile .quicklinks .ab-icon:before,
#mnadminbar.mobile .quicklinks .ab-item:before {
  color: #a3b745;
}

#mnadminbar.mobile .quicklinks .hover .ab-icon:before,
#mnadminbar.mobile .quicklinks .hover .ab-item:before {
  color: #ece6f6;
}

/* Admin Bar: search */
#mnadminbar #adminbarsearch:before {
  color: #ece6f6;
}

#mnadminbar > #mn-toolbar > #admin-bar-top-secondary > #admin-bar-search #adminbarsearch input.adminbar-input:focus {
  color: #fff;
  background: #634c84;
}

/* Admin Bar: my account */
#mnadminbar .quicklinks li#admin-bar-my-account.with-avatar > a img {
  border-color: #634c84;
  background-color: #634c84;
}

#mnadminbar #admin-bar-user-info .display-name {
  color: #fff;
}

#mnadminbar #admin-bar-user-info a:hover .display-name {
  color: #a3b745;
}

#mnadminbar #admin-bar-user-info .username {
  color: #cbc5d3;
}

/* Pointers */
.mn-pointer .mn-pointer-content h3 {
  background-color: #a3b745;
  border-color: #93a43e;
}

.mn-pointer .mn-pointer-content h3:before {
  color: #a3b745;
}

.mn-pointer.mn-pointer-top .mn-pointer-arrow,
.mn-pointer.mn-pointer-top .mn-pointer-arrow-inner,
.mn-pointer.mn-pointer-undefined .mn-pointer-arrow,
.mn-pointer.mn-pointer-undefined .mn-pointer-arrow-inner {
  border-bottom-color: #a3b745;
}

/* Media */
.media-item .bar,
.media-progress-bar div {
  background-color: #a3b745;
}

.details.attachment {
  -webkit-box-shadow: inset 0 0 0 3px #fff, inset 0 0 0 7px #a3b745;
  box-shadow: inset 0 0 0 3px #fff, inset 0 0 0 7px #a3b745;
}

.attachment.details .check {
  background-color: #a3b745;
  -webkit-box-shadow: 0 0 0 1px #fff, 0 0 0 2px #a3b745;
  box-shadow: 0 0 0 1px #fff, 0 0 0 2px #a3b745;
}

.media-selection .attachment.selection.details .thumbnail {
  -webkit-box-shadow: 0px 0px 0px 1px #fff, 0px 0px 0px 3px #a3b745;
  box-shadow: 0px 0px 0px 1px #fff, 0px 0px 0px 3px #a3b745;
}

/* Themes */
.theme-browser .theme.active .theme-name,
.theme-browser .theme.add-new-theme a:hover:after,
.theme-browser .theme.add-new-theme a:focus:after {
  background: #a3b745;
}

.theme-browser .theme.add-new-theme a:hover span:after,
.theme-browser .theme.add-new-theme a:focus span:after {
  color: #a3b745;
}

.theme-section.current,
.theme-filter.current {
  border-bottom-color: #523f6d;
}

body.more-filters-opened .more-filters {
  color: #fff;
  background-color: #523f6d;
}

body.more-filters-opened .more-filters:before {
  color: #fff;
}

body.more-filters-opened .more-filters:hover,
body.more-filters-opened .more-filters:focus {
  background-color: #a3b745;
  color: #fff;
}

body.more-filters-opened .more-filters:hover:before,
body.more-filters-opened .more-filters:focus:before {
  color: #fff;
}

/* Widgets */
.widgets-chooser li.widgets-chooser-selected {
  background-color: #a3b745;
  color: #fff;
}

.widgets-chooser li.widgets-chooser-selected:before,
.widgets-chooser li.widgets-chooser-selected:focus:before {
  color: #fff;
}

/* Responsive Component */
div#mn-responsive-toggle a:before {
  color: #ece6f6;
}

.mn-responsive-open div#mn-responsive-toggle a {
  border-color: transparent;
  background: #a3b745;
}

.mn-responsive-open #mnadminbar #admin-bar-menu-toggle a {
  background: #413256;
}

.mn-responsive-open #mnadminbar #admin-bar-menu-toggle .ab-icon:before {
  color: #ece6f6;
}

/* TinyMCE */
.mce-container.mce-menu .mce-menu-item:hover,
.mce-container.mce-menu .mce-menu-item.mce-selected,
.mce-container.mce-menu .mce-menu-item:focus,
.mce-container.mce-menu .mce-menu-item-normal.mce-active,
.mce-container.mce-menu .mce-menu-item-preview.mce-active {
  background: #a3b745;
}
